<div class="container mt-5">
    <div class="row" *ngIf="produto">
        <div class="col-6">
            <img src="{{produto.imagemUrl}}" alt="{{produto.nome}}" class="img-fluid w-100">
        </div>
        <div class="col-6">
            <h3>{{produto.nome}}</h3>
            <p style="font-size: 2em;">{{produto.preco | currency}}</p>
            <div class="d-flex justify-content-start align-items-center">
                <i (click)="decrementQuantity()" class="fa fa-minus-circle text-warning mr-2" style="cursor: pointer; font-size: 2em;"></i>
                <span class="font-weight-bold" style="font-size: 1.5em;">{{quantidade}}</span>
                <i (click)="incrementQuantity()" class="fa fa-plus-circle text-warning mx-2" style="cursor: pointer; font-size: 2em;"></i>
                <button (click)="addItemToBasket()" class="btn btn-outline-primary btn-lg ml-4">Adicionar ao carrinho</button>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 ml-3">
                <h4>Descrição</h4>
                <p>{{produto.descricao}}</p>
            </div>
        </div>
    </div>
</div>